<application>
    <name>pointCloudFiltering</name>
    
    <module>
       <name>cloud-filtering</name>
       <node>icub21</node>
    </module>

    <connection>
        <from>/cloud-filtering/cld:i</from>
        <to>/cloud-extractor/rpc:i</to>
        <protocol>tcp</protocol>
    </connection>

    <connection>
        <from>/cloud-filtering/cld:i</from>
        <to>/kin-tact/rpc</to>
        <protocol>tcp</protocol>
    </connection>

</application>
